@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --dis-page-bg: #191d7b;
  --dis-primary: #5865f2;
  --dis-light: #ffffff;

}

body
{
  max-width: 512px;
  margin: 0 auto;
  background-color: var(--dis-page-bg);
  font-family: "DM Sans", sans-serif;
}

img
{
  max-width: 100%;
}
video
{
  max-width: 100%;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

/* Main */

main {
  padding: 0 2rem;
}


.jumbotron {
    color: var(--dis-light);
    text-align: center;
    padding-top: 3rem;
}

h2
{
  font-family: "Sigmar", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.btn {
  display: block;
  background-color: transparent;
  border-style: none;
  text-align: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  font-size: 18px;
}

.btn-light {
  background-color: var(--dis-light);

}
.btn-primary
{
  background-color: var(--dis-primary);
  color:var(--dis-light);

}

.cards {
  margin-top: 4rem;
}
.card {
  color: var(--dis-light);
  background-color: var(--dis-primary);
  padding: 2rem 1.5rem;
  border-radius: 2rem;
}