*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  width: 512px;
}

#app_header
{
  padding: 1rem;
  border-bottom: 2px solid;
}


main
{
  padding: 1rem 2rem;
  min-height: 1000px;
}

.card
{
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  min-height: 150px;
}

footer {
  padding: 1rem;
  border-top: 2px solid black;
}